<div [formGroup]="mainUserInformation">
  <div class="d-flex flex-row justify-content-around mediaQuery">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input
        type="text"
        matInput
        id="firstName"
        class="form-control"
        formControlName="firstName"
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Position</mat-label>
      <input
        type="text"
        matInput
        id="position"
        class="form-control"
        formControlName="position"
      >
    </mat-form-field>
  </div>
  <div class="d-flex flex-row justify-content-around mediaQuery">
    <mat-form-field>
      <mat-label>Middle Name</mat-label>
      <input
        type="text"
        matInput
        id="middleName"
        class="form-control"
        formControlName="middleName"
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Department</mat-label>
      <mat-select
        id="department"
        class="form-control"
        formControlName="department"
      >
        <mat-option *ngFor="let department of departments" [value]="department">
          {{department}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="d-flex flex-row justify-content-around mediaQuery">
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input
        type="text"
        matInput
        id="lastName"
        class="form-control"
        formControlName="lastName"
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Level</mat-label>
      <mat-select
        id="level"
        class="form-control"
        formControlName="level"
      >
        <mat-option *ngFor="let level of levels" [value]="level">
          {{level}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="d-flex flex-row justify-content-around mediaQuery">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        id="email"
        class="form-control"
        formControlName="email"
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Location</mat-label>
      <input
        type="text"
        matInput
        id="location"
        class="form-control"
        formControlName="location"
      >
    </mat-form-field>
  </div>
  <div class="d-flex">
    <mat-form-field *ngIf="editSummary">
      <mat-label>Summary</mat-label>
      <div class="d-flex">
      <textarea matInput
                cdkTextareaAutosize
                class="scroll form-control textarea"
                id="summary"
                formControlName="summary"
      >
            {{text}}
      </textarea>
        <mat-icon style="cursor: pointer" (click)="toggleSummary()">edit</mat-icon>
      </div>
    </mat-form-field>
    <div *ngIf="!editSummary">
      <mat-label>Summary</mat-label>
      <div class="d-flex justify-content-end">
        {{text}}
        <mat-icon class="cursor-pointer" (click)="toggleSummary()">edit</mat-icon>
      </div>
    </div>
  </div>
</div>
