mat-form-field {
  width: 80%;
  display: block;
  margin-right: 50px;
}

.form-control, .form-control:focus {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

mat-chip {
  color: #4EAADD;
}

.skill-list {
  width: 100%;
}
